#  WELCOME 
#### Thank you for reviewing my Assignment

### Data choosen - Bangalore(A city in India) Housing Price.

# Main Objective
     
     Iam Taken the House Price data set for my assignment. so, I Decided of using this as "PREDICTION" Model. I put my full effort to Finish this assignment and it took me 2 days to figure out some troubules in this Dataset. I hope I did a good work.
#### MY MODEL IS PREDICTION BASED.

# About My Dataset
    AS I mentioned above I have taken Bangalore Housing Dataset. It has Around some 130000+ rows of data and 9 columns of features the data has all type of areas, location in Bangalore. It range of Bedrooms, Restrooms and More. The data also has the society thats the house is Around means the house is build as a community of Houses by the Builder.
    The price is mentioned in Lakhs. There is an attribute called availability but I remove that since It doesn't have any feature importance in the data Atleast that's what i thought.  SO, that's about the dataset taken to do my Assignment.
### In course they mentioned coding is not important in the Assignment submission but I thought It would be good if I add that So I did.

###### importing some lib's

In [466]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

###### loading the data

In [467]:
data=pd.read_csv('bangrhousedata/Bengaluru_House_Data.csv')
data

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

###### some insights

In [468]:
data.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

## Data cleaning and Feature Engineering

###### checking for null values

In [469]:
data.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

##### there is more null values in 'society' column so, drop that is good

###### And also dropping the columns that is not make any differents the data and the prediction

In [470]:
data=data.drop(columns=['availability','balcony','society'],axis=1) 
data

,area_type,location,size,total_sqft,bath,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,51.00
...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5 Bedroom,3453,4.0,231.00
13316,Super built-up Area,Richards Town,4 BHK,3600,5.0,400.00
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141,2.0,60.00
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689,4.0,488.00
13319,Super built-up Area,Doddathoguru,1 BHK,550,1.0,17.00

###### Since the location column is important so fill that null value is good to do.

In [471]:
data['location'].value_counts()

Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
Bapuji Layout                       1
1st Stage Radha Krishna Layout      1
BEML Layout 5th stage               1
singapura paradise                  1
Abshot Layout                       1
Name: location, Length: 1305, dtype: int64

###### Now the 'whitefield' has more in the location so filling the null value with it doesn't make any worse in the data

In [472]:
data['location']=data.location.fillna('Whitefield')

###### Here the size means the BHK values also has some null so filling that with the more number of value present in it "2 BHK".

In [473]:
data['size'].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: size, dtype: int64

###### filling with 2 bhk

In [474]:
data['size']=data['size'].fillna('2 BHK')

###### Now the column bath has also some null values 
##### filling that with the meadian value

In [475]:
data['bath']=data['bath'].fillna(data['bath'].median())

###### So the data has no null values

In [476]:
data.isnull().sum()

area_type     0
location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

#### The column 'size' has both the Int and also the Str

###### to remove that only str value - below code

In [477]:
data['bhk']=data['size'].str.split().str.get(0).astype(int)

###### now the str is remove and the column name also changed for further ease of doing the process

In [478]:
data=data.drop('size',axis=1)

In [479]:
data.head()

,area_type,location,total_sqft,bath,price,bhk
0,Super built-up Area,Electronic City Phase II,1056,2.0,39.07,2
1,Plot Area,Chikka Tirupathi,2600,5.0,120.00,4
2,Built-up Area,Uttarahalli,1440,2.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,1521,3.0,95.00,3
4,Super built-up Area,Kothanur,1200,2.0,51.00,2

##### When we see the unique values of the column 'total sqft' it has some values in range

In [480]:
data['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

###### To convert that only range values -below code

In [481]:
def Rangeconverter(x):
    
    temp= x.split('-')
    if len(temp)==2:
        return (float(temp[0])+ float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [482]:
data['total_sqft']=data['total_sqft'].apply(Rangeconverter)

In [483]:
data['total_sqft'].isnull().sum()

46

In [484]:
data.describe()

         total_sqft          bath         price           bhk
count  13274.000000  13320.000000  13320.000000  13320.000000
mean    1559.626694      2.688814    112.565627      2.802778
std     1238.405258      1.338754    148.971674      1.294496
min        1.000000      1.000000      8.000000      1.000000
25%     1100.000000      2.000000     50.000000      2.000000
50%     1276.000000      2.000000     72.000000      3.000000
75%     1680.000000      3.000000    120.000000      3.000000
max    52272.000000     40.000000   3600.000000     43.000000

In [485]:
data['total_sqft']=data['total_sqft'].fillna(data['total_sqft'].median())

In [486]:
data.isnull().sum()

area_type     0
location      0
total_sqft    0
bath          0
price         0
bhk           0
dtype: int64

#### In location column some location have only present once. this will make the featues soar in numbers when we Encode the Catagorical features so need to get that values under the same name 'others'

In [487]:
data_loc=data['location'].value_counts()<=10
data_loc

Whitefield                        False
Sarjapur  Road                    False
Electronic City                   False
Kanakpura Road                    False
Thanisandra                       False
                                  ...
Bapuji Layout                      True
1st Stage Radha Krishna Layout     True
BEML Layout 5th stage              True
singapura paradise                 True
Abshot Layout                      True
Name: location, Length: 1305, dtype: bool

In [488]:
data['location']= data['location'].apply(lambda x: x.strip())
location_count= data['location'].value_counts()
location_count_less_10 = location_count[location_count<=10]
location_count_less_10

Dairy Circle                      10
Nagappa Reddy Layout              10
Basapura                          10
1st Block Koramangala             10
Sector 1 HSR Layout               10
                                  ..
Bapuji Layout                      1
1st Stage Radha Krishna Layout     1
BEML Layout 5th stage              1
singapura paradise                 1
Abshot Layout                      1
Name: location, Length: 1053, dtype: int64

In [489]:
data['location']=data['location'].apply(lambda x : 'other' if x in location_count_less_10 else x)

In [490]:
data['location'].value_counts()

other                 2885
Whitefield             542
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Nehru Nagar             11
Banjara Layout          11
LB Shastri Nagar        11
Pattandur Agrahara      11
Narayanapura            11
Name: location, Length: 242, dtype: int64

In [491]:
data.shape

(13320, 6)

In [492]:
data

,area_type,location,total_sqft,bath,price,bhk
0,Super built-up Area,Electronic City Phase II,1056.0,2.0,39.07,2
1,Plot Area,Chikka Tirupathi,2600.0,5.0,120.00,4
2,Built-up Area,Uttarahalli,1440.0,2.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,1521.0,3.0,95.00,3
4,Super built-up Area,Kothanur,1200.0,2.0,51.00,2
...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,3453.0,4.0,231.00,5
13316,Super built-up Area,other,3600.0,5.0,400.00,4
13317,Built-up Area,Raja Rajeshwari Nagar,1141.0,2.0,60.00,2
13318,Super built-up Area,Padmanabhanagar,4689.0,4.0,488.00,4
13319,Super built-up Area,Doddathoguru,550.0,1.0,17.00,1

In [493]:
data.shape

(13320, 6)

In [494]:
#data['total_sqft-bhk']=data.total_sqft*data.bhk
#data['bath-total_sqft']=data.bath*data.total_sqft
#data['bhk-bath']=data.bhk*data.bath
#from sklearn.preprocessing import OneHotEncoder, StandardScaler, PolynomialFeatures
#poly=PolynomialFeatures(2)
#data1=poly.fit_transform(data)

In [495]:
data

,area_type,location,total_sqft,bath,price,bhk
0,Super built-up Area,Electronic City Phase II,1056.0,2.0,39.07,2
1,Plot Area,Chikka Tirupathi,2600.0,5.0,120.00,4
2,Built-up Area,Uttarahalli,1440.0,2.0,62.00,3
3,Super built-up Area,Lingadheeranahalli,1521.0,3.0,95.00,3
4,Super built-up Area,Kothanur,1200.0,2.0,51.00,2
...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,3453.0,4.0,231.00,5
13316,Super built-up Area,other,3600.0,5.0,400.00,4
13317,Built-up Area,Raja Rajeshwari Nagar,1141.0,2.0,60.00,2
13318,Super built-up Area,Padmanabhanagar,4689.0,4.0,488.00,4
13319,Super built-up Area,Doddathoguru,550.0,1.0,17.00,1

In [496]:
data['price_per_sqrft']=data.price/data.total_sqft

In [497]:
data

,area_type,location,total_sqft,bath,price,bhk,price_per_sqrft
0,Super built-up Area,Electronic City Phase II,1056.0,2.0,39.07,2,0.036998
1,Plot Area,Chikka Tirupathi,2600.0,5.0,120.00,4,0.046154
2,Built-up Area,Uttarahalli,1440.0,2.0,62.00,3,0.043056
3,Super built-up Area,Lingadheeranahalli,1521.0,3.0,95.00,3,0.062459
4,Super built-up Area,Kothanur,1200.0,2.0,51.00,2,0.042500
...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,3453.0,4.0,231.00,5,0.066898
13316,Super built-up Area,other,3600.0,5.0,400.00,4,0.111111
13317,Built-up Area,Raja Rajeshwari Nagar,1141.0,2.0,60.00,2,0.052585
13318,Super built-up Area,Padmanabhanagar,4689.0,4.0,488.00,4,0.104073
13319,Super built-up Area,Doddathoguru,550.0,1.0,17.00,1,0.030909

### In all data there is always some outliers so removing that is important
#### Here I used IQR - Inter Quantile Range to find and remove the outliers

###### Removing all columns outliers

In [498]:
def quantile(y,x):
    q1,q3=x.quantile(0.25),x.quantile(0.75)

    iqr=q3-q1
    low,high=q1-1.5*iqr,q3+1.5*iqr
    y=y[(x>=low)&(x<=high)]
    return y

###### why I have taken 1.5 that's the basic practice I think

In [499]:
data=quantile(data,data.price)
data.shape

(12044, 7)

In [500]:
data=quantile(data,data.bath)
data.shape

(11474, 7)

In [501]:
data=quantile(data,data.total_sqft)
data.shape

(10932, 7)

In [502]:
data=quantile(data,data.bhk)
data.shape

(10818, 7)

In [503]:
data.head()

,area_type,location,total_sqft,bath,price,bhk,price_per_sqrft
0,Super built-up Area,Electronic City Phase II,1056.0,2.0,39.07,2,0.036998
2,Built-up Area,Uttarahalli,1440.0,2.0,62.00,3,0.043056
3,Super built-up Area,Lingadheeranahalli,1521.0,3.0,95.00,3,0.062459
4,Super built-up Area,Kothanur,1200.0,2.0,51.00,2,0.042500
5,Super built-up Area,Whitefield,1170.0,2.0,38.00,2,0.032479

###### Data is now clean

### now we have to convert the catagoricals features to some understandable data by the code 
### So Encoding the features by Get dummies method

In [504]:
# Get a Pd.Series consisting of all the string categoricals
one_hot_encode_cols = data.dtypes[data.dtypes == object]  # filtering by string categoricals
one_hot_encode_cols = one_hot_encode_cols.index.tolist()  # list of categorical fields

# Encode these columns as categoricals so one hot encoding works on split data (if desired)
for col in one_hot_encode_cols:
    data[col] = pd.Categorical(data[col])

# Do the one hot encoding
data = pd.get_dummies(data, columns=one_hot_encode_cols)

In [505]:
data.shape

(10818, 250)

##### now we can see the increase in columns

##### Why not did the polynomial features method because it will increased the columns drastically to  above some 30000+ that will overfit or have some worst impact in the model.

## Model selection and Prediction

###### importing some important lib's

In [506]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler, PolynomialFeatures
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold, cross_val_predict
from sklearn.metrics import r2_score

##### Seperating the result columns from the dataset

In [507]:
Y=data['price']
X=data.drop('price', axis=1)
X.shape

(10818, 249)

#### Spilting the data into train and test sets

In [508]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, 
                                                    random_state=72018)
X_train.head()

,total_sqft,bath,bhk,price_per_sqrft,area_type_Built-up Area,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area,location_1st Block Jayanagar,location_1st Phase JP Nagar,...,location_Vishveshwarya Layout,location_Vishwapriya Layout,location_Vittasandra,location_Whitefield,location_Yelachenahalli,location_Yelahanka,location_Yelahanka New Town,location_Yelenahalli,location_Yeshwanthpur,location_other
808,1352.0,3.0,3,0.099852,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
10651,1200.0,1.0,1,0.037500,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11130,1204.0,2.0,2,0.048173,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11812,1344.0,4.0,4,0.062500,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4806,1041.0,2.0,2,0.035005,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [509]:
 X_train.shape

(7572, 249)

### now doing simple Linear Regression

In [510]:
lr=LinearRegression()
lr.fit(X_train,y_train)
y_pred=lr.predict(X_test)

##### to measure the models ability we use R2 score method

In [511]:
r2_score(y_test,y_pred)

0.9177203395474964

#### The above score is not a good one.

### Now Ridge Regression

###### I have to say you this the alpha value I have put below are the values I separetly got from GridsearchCV method.

In [512]:
r=Ridge(alpha=155.2415126477287)
s=StandardScaler()
X_train_s=s.fit_transform(X_train)
r.fit(X_train_s,y_train)
X_test_s=s.transform(X_test)
ypred=r.predict(X_test_s)

In [513]:
r2_score(y_test,ypred)

0.9208669544949858

### Ridge with Inbuilt cross validation method

In [514]:
from sklearn.linear_model import RidgeCV
alphas = np.geomspace(10, 20, 100)

ridgeCV = RidgeCV(alphas=alphas, 
                  cv=4).fit(X_train_s, y_train)

ypredrcv=ridgeCV.predict(X_test_s)

r2_score(y_test,ypredrcv)

0.9180520124031952

In [515]:
ridgeCV.alpha_

11.912904922546383

### Now Lasso Resgression

In [516]:
la=Lasso(alpha=0.10045155619488594)
X_train_ss=s.fit_transform(X_train)
la.fit(X_train_ss,y_train)
X_test_ss=s.transform(X_test)
ypred1=la.predict(X_test_ss)
r2_score(y_test,ypred1)

0.9192117478310915

Lasso with cv

In [517]:
from sklearn.linear_model import LassoCV
alphass = np.geomspace(0.1, 10, 100)

lassoCV = LassoCV(alphas=alphass, 
                  cv=4).fit(X_train_ss, y_train)

ypredlcv=lassoCV.predict(X_test_ss)

r2_score(y_test,ypredlcv)

0.9192266542667579

In [518]:
lassoCV.alpha_

0.10476157527896648

#### All R2 scores

In [519]:
print('Linear Regression:',r2_score(y_test,y_pred))
print('Ridge r2 score:',r2_score(y_test,ypred))
print('RidgeCV r2 score:',r2_score(y_test,ypredrcv))
print('lasso r2 score:',r2_score(y_test,ypred1))
print('LassoCV r2 score:',r2_score(y_test,ypredlcv))

Linear Regression: 0.9177203395474964
Ridge r2 score: 0.9208669544949858
RidgeCV r2 score: 0.9180520124031952
lasso r2 score: 0.9192117478310915
LassoCV r2 score: 0.9192266542667579

#### Lasso score is better.

### As Far I know i did good. now some insights

    In this above models Lasso model is good when compared to others i have come up with the alpha values from i did    
    GridsearchCV in another notebook. For both the ridge and the lasso I did GridsearchCV seperately.

    The 90 + something of r2 score is good but we can do more by working Indepth with this data, and it maybe worthit. 
    That's the view i have about this dataset. when we see above there is no more difference in Ridge model and with the 
    Ridge Cross val mode but both is less scored then the Lasso.

     I think this is good dataset to practics ML but with further more features and rows can help by to predict more 
     accuratly but of course with this also we can do more that needs more processing and more Trail and Error methods.

## Suggestions about data

####    This Lasso here maybe promising but it may not also good model. I have not done the ELASTIC NET model that maybe a good one. we dont know that now, so doing some more model enchancement and introducing more models with more parameters can defintly helpful to improve further more the model.


#### Have good day or Night.